.good { color: green; }
.moderate { color: limegreen; }
.sensitive { color: yellow; }
.unhealthy { color: orange; }
.very-unhealthy { color: red; }
.hazardous { color: crimson; }

.datetime { font-size: 10px; }
